<section id="about-me"> <!-- (@flyInOut.start)="animationStarted($event)" (@flyInOut.done)="animationDone($event)" [@flyInOut]="'in'">-->
  <mat-card class="result"> <!--(@flyInOut.start)="animationStarted($event) (@flyInOut.done)="animationDone($event)" [@flyInOut]="'in'">-->
    <mat-card-content>
      <h2 class="example-h2">About me</h2>
  
      <div class="example-section">
        <mat-checkbox class="example-margin" [(ngModel)]="checked">Checked</mat-checkbox>
        <mat-checkbox class="example-margin" [(ngModel)]="disabled">Disabled</mat-checkbox>
        <mat-slide-toggle
            class="example-margin"
            [color]="color"
            [checked]="checked"
            [disabled]="disabled">
          Slide me!
        </mat-slide-toggle>
      </div>

    </mat-card-content>
  </mat-card>
</section>