<section id="home"> <!-- (@flyInOut.start)="animationStarted($event)" (@flyInOut.done)="animationDone($event)" [@flyInOut]="'in'">-->
  <div class="home-bg">
  </div>
  
  <!--<mat-grid-list cols="4" rowHeight="100px" gutterSize="4px">
    <mat-grid-tile
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color">
      {{tile.text}}
    </mat-grid-tile>
  </mat-grid-list>

  <div class="block">&nbsp;</div>
  <div class="block">&nbsp;</div>
  <div class="block">&nbsp;</div>-->

</section>

