<h1>{{title}}</h1>

<!--Button to open menu-->
<button mat-icon-button 
        [matMenuTriggerFor]="appMenu"   
        (@flyInOut.start)="animationStarted($event)"
        (@flyInOut.done)="animationDone($event)"
        [@flyInOut]="'in'">
    <mat-icon>more_vert</mat-icon>
</button>

<!-- menu -->
<mat-menu #appMenu="matMenu">
  <button mat-menu-item routerLink="/home">Home</button>
  <button mat-menu-item routerLink="/about-me">About me</button>
  <button mat-menu-item routerLink="/projects">Projects</button>
</mat-menu>

<!-- main and routing -->
<main> <!-- [@routerTransition]="getState(o)"-->
  <router-outlet></router-outlet>
</main>

<!--<app-messages></app-messages>-->