/* Application-wide Styles */

h1 {
    color: #369;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 250%;
}

h2,
h3 {
    color: #444;
    font-family: Roboto, Helvetica, sans-serif;
    font-weight: lighter;
}

body {
    margin: 2em;
}

body,
input[text],
button,
span,
a {
    color: #888;
    font-family: Roboto, Helvetica, sans-serif;
    -webkit-transition: all 150ms ease-in-out !important;
    -moz-transition: all 150ms ease-in-out !important;
    -ms-transition: all 150ms ease-in-out !important;
    -o-transition: all 150ms ease-in-out !important;
    transition: all 150ms ease-in-out !important;
}

a{
    text-decoration: none !important;
    span{
        text-decoration: none !important;
    }
}

mat-icon{
    font-family: 'Material Icons' !important;
  }

/* everywhere else */

* {
    font-family: Roboto, Helvetica, sans-serif;
    -webkit-transition: all 150ms ease-in-out !important;
    -moz-transition: all 150ms ease-in-out !important;
    -ms-transition: all 150ms ease-in-out !important;
    -o-transition: all 150ms ease-in-out !important;
    transition: all 150ms ease-in-out !important;
}
